<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Startup kültürü ve Girişim ekosistemi içinde beraber ortaya bir şeyler çıkarmak isteyen ConseyGroup Üyelerine sen de katıl!</h2>
                <hr class="light">
                <p class="text-faded">ConseyGroup, Girişim ve Proje Geliştirme alanlarında beraber ilerlemek ve beraber üretmek isteyen insanların bulunduğu bir şirkettir. Şirketin amacı insanların kullanacağı değerler üretmektir.</p>
                <a href="#" class="btn btn-default btn-xl">Hemen Başvuru Yap</a>
            </div>
        </div>
    </div>
</section>
